@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/background.jpg');
    background-size: cover;
    background-position: center;
}
.container {
    position: relative;
    width: 400px;
    height: 555px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(60px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 50px;
    padding: 20px;
    color: #fff;
}
.search-box {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}
.search-box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
}
.search-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}
.search-box input::placeholder {
    color: #fff;
    text-transform: capitalize;
}
.search-box button {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}
.weather-box {
    text-align: center;
    margin: 40px 0;
}
.weather-box img {
    width: 60%;
}
.weather-box .temperature {
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px;
}
.weather-box .temperature span {
    font-size: 24px;
}
.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}
.weather-details .humidity, .weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
}
.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}
.weather-details span {
    font-size: 22px;
    font-weight: 500;
}
.weather-details p {
    font-size: 14px;
    font-weight: 500;
}
